name: test

on:
  push:

env:
  LOG_LEVEL: debug

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container: 
      image: ghcr.io/renovatebot/renovate:42.21.3
      # github hosted runners are running as `1001:127` (ubuntu:docker)
      options: -u 1001:0 --group-add 1001 --group-add 12021 --group-add 127

    strategy:
      matrix:
        file:
          - renovate-config
          - .github/renovate

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false

      - name: testing ${{ matrix.file }}
        run: renovate-config-validator ${{ matrix.file }}.json

  test-success:
    runs-on: ubuntu-latest
    needs:
      - test
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled tests
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'cancelled'
        run: exit 1
